streamlit==1.25.0
numpy
pillow
matplotlib
requests
torch==2.1.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.16.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
